:root {
    background-color: beige;
    color: #644d0d;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

.red-color {
    color: red;
}

.green-color {
    color:darkgreen;
}

.blue-color {
    color: darkturquoise;
}
.header{
    text-align: center;
}

.title {
    word-spacing: 30px;
    letter-spacing: 2px;
    font-size: 50px;
}

.instruction {
    font-size: 30px;
}

.main {
    display:flex;
    flex-direction: column;
}

.game-area {
    display:flex;
    justify-content: space-around;
    width: 750px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border: solid;
    border-radius: 10px;
}
  
.weapon-button {
    background-color: transparent;
    border: none;
    color:aliceblue;
}

.weapon-button:hover {
    background-color: rgb(209, 209, 185);
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: all .3s;
    
}

.rock-icon {
    width: 170px;
    height: auto;
}

.paper-icon {
    width: 170px;
    height: 170px;
}

.scissors-icon {
    width: 170px;
    height: auto;
}

.game-output {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 600px;
    padding: 10px;
    margin: auto;
}

.game-choice {
    width: auto;
    margin: auto;
}

.symbol {
    font-size: 110px;
}

.identity {
    font-size: 20px;
}

.wrapper {
    display: flex;
    width: 600px;
    margin: auto;
    border: solid;
    padding: 0 10px;
    border-radius: 10px;
}

.game-counter {
    margin-right: 50px;
    border-right: solid;
    padding-right: 10px;
    width: 150px;
    text-align: center;
}

.round {
    font-size: 20px;
}

.round-counter {
    font-size: 50px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-size: 22px;
}

.game-end {
    visibility: visible;
    display: flex;
}

.game-restart {
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding: 10px;
    margin: 50px auto;
    background-color: transparent;
    border: 3px solid;
    border-radius: 10px;
    color: #644d0d;
    border-color: #644d0d;
}

.game-restart:hover {
    background-color: #644d0d;
    color: beige;
    cursor: pointer;
    transition: 0.2s linear;
}

.lose-border {
    border-color: brown;
}

.win-border {
    border-color:aqua;
}

.tie-border {
    border-color: greenyellow;
}